# Binaries for programs and plugins
*.exe
*.exe~

#Linux binaries
day-2.git
day-2

*.dll
*.so
*.dylib
# Test binary, build with `go test -c`
*.test
# Output of the go coverage tool, specifically when used with LiteIDE
*.out